!!! 5
%html.no-js{ :lang => "en" }
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %title
      = "#{current_page.data.title} | #{data.site.title}"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "keywords"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    = stylesheet_link_tag 'main'
    = stylesheet_link_tag 'highlighting'

    %script{:src => "#{data.site.grunticon_production_path}/grunticon.loader.js"}

    :javascript
      grunticon(["#{data.site.grunticon_production_path}/icons.data.svg.css", "#{data.site.grunticon_production_path}/icons.data.png.css", "#{data.site.grunticon_production_path}/icons.fallback.css"], grunticon.svgLoadedCallback );

  %body

    .container

      = partial "partials/site-header"

      %main.main-content#main-content
        = yield
        = partial "partials/site-footer"

      = javascript_include_tag 'all.js'
